*{
    margin: 0;
    padding: 0;
}
.jiggy{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    background-color: #121212;

    .spn{
        display: flex;
        padding-left: 70px;
    }
    .spn p{
        color: white;
        font-size: 32px;
    }
    
    .jigg{
        padding-top: 15px;
    }
    .ggg{
        margin-right: 10px;
        font-size: 40px;
    }
    .sup{
        font-size: 7px;
        padding-top: 30px;
        padding-left: 5px;
        color: white;
    
    }
}
.jiggy .lp{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    width: fit-content;
    padding-right: 70px;
}
.lp li a{
    color: white;
    text-decoration: none;
}
.psec{
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   color: white;
   
}
.psec:hover{
    color: #1ed760;
}

.aje{
    margin-right: 15px;
    font-size: 40px;
    
}
.sho{
    margin-left: 10px;
    font-weight: bolder;
}

.hid{
    display: none;
    margin-left: 10px;
    font-weight: bolder;
}



.dropdn ul{
    position: absolute;
    width: 170px;
    background-color: white;
    top: 95px;
    right: 70px;
    list-style: none;
    padding: 10px 15px;
    line-height: 30px;
    border-radius: 3px;
    font-weight: bold;
    display: none;
   
}
.dropdn ul a{
    color: black;
  margin-right: 40px;
}
.dropdn ul a:hover{
    color: #1ed760;
}

.dropdn .dx a{
    color: #5b5d5c90;
}

.psec:focus-within .dropdn ul{
    display: block;
}




.navaa{
    background-color: #1f2a39;
    height: 2230px;
    width: 100%;

    .pinksection{
        width: 92%;
        display: flex;
        margin-left: 52px;
        height: 430px;
        gap: 140px;
        background-color: rgb(255,205,210);
        padding: 65px 30px;
    }

    .pre{
        font-size: 45px;
        font-weight: bolder;
    }
    .mont{
        font-size: 19px;
        font-weight: 400;
    }
    .pinkimg{
        height: 290px;
        border-radius: 30px;
    }
    .firstz{
      width: 500px;
      line-height: 50px;
    }

    .byt{
        height: 50px;
        width: 150px;
        font-weight: 700;
        color: white;
        border-radius: 50px;
        border: none;
        background-color: black;

    }
   .robo{
    width: 700px;
    font-size: 10px;
   }
    .robo a{
        color:black;
    }
}

.blackside{
    position: absolute;
    height: 1700px;
    width: 300px;
    margin-left:52px ;
    background-color:#1b1b1b;
    line-height: 0px;

}
.white{
    border:none;
    width: 300px;
    height: 60px;
    color: white;
    align-items: center;
    background-color: transparent;

}


.whiteside{
    position: absolute;
    height: 1700px;
    width: 864px;
    background-color: white;
    margin-left:350px;
    line-height: 20px;

   
}
.menup{
    color: #222326;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 55px;
    margin-bottom: 50px;
   
}



.blackside ul li a{
    color: #6c6d71;
    text-decoration: none;
    
   
    
}
.blackside ul li{
    /* padding: 0; */
    list-style: none;
    padding-left: 20px;
}
.blackside ul{
    border-top: 1px solid rgba(61, 61, 61, 0.429);
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
    margin-top: -15px;
   
} 
.blackside ul:hover{
    border-left: 5px solid green;
}
.tj{
    margin-right: 20px;
    font-size: 16px;
    color: rgb(166, 166, 166);
}
.tjm{
    margin-right: 20px;
    font-size: 16px;
    color: white;
}
.fms{
    color: white;
}

.showed{
    height: 60px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.114);
    display: flex;
   line-height: 50px;
    margin:  0px 50px;
}
.sh{
    position: absolute;
   left: 450px;
}
.xomxom{
    padding: 50px;
    font-size: 45px;
    font-weight: bolder;
}
.xoom{
    margin-top: 20px;
}
.xom{
    margin-left: 50px;
}
.whitebut{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.269);
    font-weight: bold;
    font-size: 16px;
    margin: 40px ;
}
.whitebut:hover{
 transform: translatey(3px);
  border: 1px solid black;
}



.greyn{
    position: relative;
    height: 500px;
    background-color: #b3b3b3;
    margin: 50px 50px;
    border: none;
    border-radius: 5px;
   
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.146);
}
.whitgrey{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    height: 250px;
    background-color: white;
}
.xom{
    margin-top: 10px;
}

.sfree{
    position: absolute;
    font-size: 32px;
    font-weight: bolder;
    top: 100px;
    left: 40px;

}

.onefree{
    position: absolute;
    top: 40px;
    left: 40px;
    font-weight: 700px;
}
.jn{
    
    color: #1ed760;
    font-weight: 700px;
    
}
.lma{
    position: absolute;
    color: black;
    top: 80px;
    left: 40px;
    font-weight: 700px;
}
.lma:hover{
    color: #1ed760;
}

.fee{
    position: absolute;
    top: 150px;
    left: 40px;
    font-weight: bolder;
}
.linehr{
   margin-top: 130px;
   margin-left: 40px;
   margin-right: 40px;
    color: rgba(0, 0, 0, 0.142);
    
}

.joinp{
    position: absolute;
    left: 40px;
    height: 50px;
    width: 165px;
    font-weight:bold;
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.326);
    border-radius: 50px;
}
.joinp:hover{
 width:168px;
 border: 1px solid black;
}

#whitbut{
    position: relative;
  
}
#everywhere{
    position: absolute;
    top: 120px;
    left: 40px;
    border: none;
    font-size: 24px;
}
#thislog{
    position: absolute;
    top: 170px;
}

#cod{
    position: absolute;
    width: 88%;
    background-color: #1dd05d;
    margin: 0px 40px 0px 40px;
    font-weight: 450;
}
#goto{
    color: black;
    text-decoration: underline black;
}
#bord{
    position: absolute;
    height: 50px;
    top: 250px;
    left: 40px;
    width: 88% ;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.128);
    border-radius: 3px;
}
#sig{
    position: absolute;
    top: 320px;
    left: 40px;
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    background-color: white;
    border-radius: 50px;
    font-weight:500;
}
#sig:hover{
    width:203px ;
    border: 1px solid black;
}

.blackzonee{
    background-color: #000000;
    height: 500px;
    top: 1700px;
    position: relative;

    .foott{
        position: absolute;
        display: flex;
        padding-top: 50px;
        gap: 150px;
        left: 100px;
        color: white;
    
        .hh3{
            font-size: 14px;
            padding-bottom: 20px;
            color: rgb(66, 66, 66);
        }
        
    
        .fint{
            display: flex;
            gap:80px;
        }
    
        .footersection4{
            display: flex;
            gap: 30px;
           
           
            
        }
        .footersection4 button{
            height: 50px;
            width: 50px;
            border-radius: 100%;
            background-color: rgb(35,35,35);
            border: none;
            color: white;
    
        }
        .lk:hover{
           color: #1ed760;
        }
    }
    
    .sppn{
        display: flex;
    
        .ggg{
            font-size: 32px;
        }
        .ggt{
            font-size: 24px;
            font-weight: bold;
        }
    
        .jigg{
            margin-top: 15px;
            font-size: 8px;
        }
    }
    .footersection1 p:hover{color: #1ed760;}
    .footersection2 p:hover{color: #1ed760;}
    .footersection3 p:hover{color: #1ed760;}
    
    
    .spabaa{
        position: absolute;
        top: 400px;
        display: flex;
        gap: 500px;
        margin-left: 50px;
       
    }
    .al{
        font-size: 12px;
    }
    
}