*{
    margin: 0;
    padding: 0;
}

 body section{
    background-color:#121212;
    height: 800px;
    position: relative;
}

.bttnm{
    position: absolute;
    background-color:#1ed760;
    border: none;
    width: 320px;
    height: 45px;
    border-radius: 50px;
    font-weight:bold ;
    margin-top: 30px;
    bottom:380px;
    left: 475px;
 }


.startlistening{
     margin: auto;
    
}
.ss{
    font-size:43px ;
    font-weight: bolder;
}

.fm{
    height: 225px;
    width: 320px;
    margin-top: 40px;
    margin-left: 475px;
    line-height: 40px;
    border-bottom: 1px solid rgb(122, 122, 122);
    

    .kj{
        font-size: 14px;
        padding: 1px 3px;
        border-radius: 100%;
        color: black;
        background-color:#f15e6c;
    }
    .label{
        color: white;
        font-size: 14px;
        font-weight: bold;
    }
    .name{
        width: 320px;
        height: 45px;
        border-radius: 5px;
        padding-left: 15px;
        background-color:#121212;
        border: 1px solid white;
        color: white;
    }
    .use{
        color: #16a653;
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;
    }
    .this{
        color:#f15e6c;
        line-height: 10px;
        font-size: 14px;
        
    }
    .nonedisplay{
        display: none;
    }
    .eg{
        color:#f15e6c;
        font-size: 12px;
        line-height: 10px;
        margin-left: 25px;
    }
    .bttn{
       background-color:#1ed760;
       border: none;
       width: 320px;
       height: 45px;
       border-radius: 50px;
       font-weight:bold ;
    }
}
.google{
display: flex;
justify-content:  left;
align-items: center;
width: 330px;
height: 45px;
border-radius: 40px;
border: 1px solid rgba(255, 255, 255, 0.432);
}
.buttgoogle{
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 50px;
    font-weight: bold;
   } 

.google img{
    height: 25px;
    margin-left: 20px;

} 

.facebook{
display: flex;
justify-content:  left;
align-items: center;
width: 330px;
height: 45px;
border-radius: 40px;
margin-top: 10px;
border: 1px solid rgba(255, 255, 255, 0.432);
}
.buttfacebook{
background-color: transparent;
border: none;
color: white;
margin-left: 50px;
font-weight: bold;
} 
.facebook img{
margin-left: 20px;
height: 25px;

}  
.googlefacebook{
margin-left: 475px;
margin-top: 45px;
border-bottom: 1px solid rgba(93, 93, 93, 0.644);
width: max-content;
height: 140px;
}

.or{
padding: 2px 6px;
background-color: #121212;
border-radius: 100%;
position: absolute;
font-weight: bold;
color: white;
left: 620px;
bottom: 314px;

}
.last1{
margin-left: 500px;
margin-top: 30px;
}
.alrdy{
color: white;
}
.loglog{
border: none;
background-color: transparent;
color: white;
text-decoration: underline;
font-weight: bold;

}
.last2{
width: 280px;
color:white;
margin-left:500px ;
font-size: 11px;
text-align: center;
margin-top: 30px;
}
.under{
text-decoration:underline;
cursor: pointer;
}
.majorunder{
text-decoration: none;
}